<!-- <form [formGroup]="myForm" > -->

<button class="btn filter-toggler" (click)="openFilter()">
    Filter
    <i class="fas fa-filter"></i>
</button>
<div class="filter" [ngClass]="isOpen ? 'show' : '' "  [ngStyle]="isOpen ? {'display' : 'contents'} : {'display' : 'none'}">
    <div class="layout">
        <h6>Filter BY:</h6>
        <br>
        <h6>Course Duration</h6>
        <div class="custom-control custom-checkbox"  *ngFor="let duration of durations">
            <input (click)="onClickFilter(duration)" type="checkbox" class="custom-control-input" id="{{duration}}">
            <label class="custom-control-label"  for={{duration}}>{{duration}}</label>
        </div>
      
        <hr>
        <h6>All Categories</h6>
        
        <div class="custom-control custom-checkbox" *ngFor="let category of caterioes">
            <input (click)="onClickFilter(category)" type="checkbox" class="custom-control-input"  id={{category}}>
            <label class="custom-control-label" for={{category}}>{{category}}</label>
        </div>
        
        <hr>
    </div>
    <div class="layout">
        <h6 class="sec-title">My Courses</h6>
        <div class="media filter-media">
            <img src="../assets/filter-media.png" class="mr-3" alt="...">
            <div class="media-body">
                <p class="mt-0">Learning how to learn</p>
            </div>
        </div>
        <div class="media filter-media">
            <img src="../assets/filter-media.png" class="mr-3" alt="...">
            <div class="media-body">
                <p class="mt-0">Learning how to learn</p>
            </div>
        </div>
    </div>
</div>
<!-- </form> -->