<!-- <div class="col-md-3">
    <app-filter [res]=res></app-filter>
</div> -->
<!-- <div class="col-md-9"> -->

<div class="courses-list">
    <h5 class="mb-3">All Courses</h5>
    <div class="line"></div>
    <div class="row">
        <div class="col-md-4" *ngFor="let course of courseList">
            <div class="card course-card">
                <img src="{{course.CourseImg}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">{{course.CourseName}}</p>
                    <div class="row">
                        <ul class="info-list col-4">
                            <li>{{course.courseLevel}}</li>
                            <li>Duration:{{course.CourseDuration}}H</li>
                        </ul>
                        <ul class="info-list col-3">
                          <li><i [ngClass]="[course.CourseDuration > 10 ? 'red' : 'green' ]" class="fas fa-users"></i>{{course.AvailableSeats}}</li>

                            <li>${{course.CoursePrice}}</li>
                        </ul>
                        <div class="add-cart col-5 p-0">
                            <a href="#" class="btn course-btn">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->